; Nexus proxy registry pointing to http://registry.npmjs.org/
registry = http://nexus.tjro.jus.br/repository/npm-all/
; base64 encoded authentication token
_auth = ZGlkZXNhZG06RCFkM3NAZG0=
; required by Nexus
email = didesjud@tjro.jus.br
; force auth to be used for GET requests
always-auth = true
; we don't want to put certificates in .npmrc
strict-ssl = false
# loglevel = silly
# npm ci can't resolve dependencies
legacy-peer-deps = true